/******************************************
PAGE: CONTACT
******************************************/

/**************************
Geeral Styling
*************************/
.bottomP {
    margin: 10px 0;
}

/**************************
Form Styling
*************************/
#contactForm label {
    font-weight: bold;
    color:#714f02;
}

#contactForm input {
    margin: 8px 0;
    padding: 5px 0;
}

.formTitle {
    font-weight: bold;
    color:#714f02;
}

.btn {
    margin-top: 10px;
}

.btn-warning {
    margin-left: 5px;
}

label {
    margin-right: 8px;
}

p {
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 8px;
}