/******************************************
PAGE: CONTACT
******************************************/

/**************************
Geeral Styling
*************************/

.bottomP {
    margin: 10px 0;
}

/**************************
Form Styling
*************************/
#contactForm label {
    font-weight: bold;
    color:#714f02;
}

#contactForm input {
    margin: 8px 0;
    padding: 5px 0;
}

.formTitle {
    font-weight: bold;
    color:#714f02;
}