
/******************************************
GENERAL
******************************************/
/*Wrapper section styles. Includes everything under the nav down to the footer.*/
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

.highlight {
  font-weight: bold;
}

a {
  text-decoration: none; /** Removes link styling. **/
}

body {
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

.tabbed {
  padding-left: 1.5em;
}


/******************************************
COLORS
******************************************/

/******************************************
Colors chosen:
Dark brown: #7D6608
Dark golden yellow: #f1c40f;
Golden yellow: #ffe316;

#d4c20f
******************************************/

/*Site body*/
body {
  background-color: #f0f5f5;
  color: #999;
}

/*Header section*/

header {
  
  /*******************
  background: #64b47b;
  border-color: #599a68;
  *******************/
  border-color: #f1c40f;
  background: #ffd011;
}

/*nav bkgrd on mobile*/
nav {
  /*******************
  background: #599a68;
  *******************/
  background: #f1c40f;
}

/*Logo text*/
h1, h2 {
  color: #fff;
}

.mainHeadline {
 color:#714f02;
 text-align: center;
}

/*links*/
a {
 color: #7d6608;
}

/*nav styles*/
nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #7d6608;
}

.error {
 color: darkred;
 font-weight: bold;
}

p {
 color:#714f02;
}
/**
nav a:hover span {
  background-color: black;
  padding: 10px;
}

**/